

@font-face {
    font-family: 'Montserrat';
    src: url(../fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'StickNoBills';
    src: url(../fontes/StickNoBills/StickNoBills-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    background-color: #868e96;
    
}

p{
    margin: 24px 0px 24px 0px;
}

button{
    border-radius: 12px;
    cursor: pointer;
    font-family: inherit;
    border: none;
    box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.308);
}

button:hover{
    box-shadow: 1px 1px 20px 2px #6741d9a2;
}

button:not(.calc){
    width: 60px;
    height: 80px;
}


.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ced4daea;
    width: 260px;
    height: 600px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.308);
    
}


.view-history{
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    cursor: pointer;
}

.history{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f1f3f5;
    padding: 12px;
    z-index: 3;
    width: 200px;
    height: 100%;
    display: none;
    overflow-y: scroll;
    animation: MoveAnimation 900ms;

}
.history h2{
    margin-bottom: 8px;
}
.delete-history{
    cursor: pointer;
    margin-bottom: 18px;
    color: red;
   
}
.delete-history:hover{
    font-weight: bold;
}
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.459);
    display: none;
}
.display{
    font-family: 'StickNoBills';
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin-top: 80px;
    text-align: right;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
    height: 80px;
    padding: 20px;
}

.display::-webkit-scrollbar-track {
    background-color: #6741d9;
}


.button-grid{
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: 86px;
    gap: 4px;
    align-content: end;
   
  
}

.button{
    width: 60px;
    height: 86px;
    padding: 12px;
    background-color: #868e96;
    color: white;
    font-size: 26px;
}

.button.calc{
    grid-row: span 2;
    background-color: aqua;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(6, 1fr);
    
}
    
.clear {
    background-color: #ffd43b;
    font-size: 26px;
    font-weight: bolder;
}
.backspace{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

.plus{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
}
.minus{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
}

.multiply{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
}

.zero{
    grid-column-start: 2;
    grid-column-end: 3;
}

.comma{
    grid-row-start: 5;
    grid-row-end: 6;
}
.calc {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: span 2;
    background-color: #6741d9;
    color: white;
    font-size: 40px;
}


@keyframes MoveAnimation {
    0%{
        transform: translateX(200px);
    }100%{
        transform: translateX(0);
    }
}
